<!DOCTYPE html>
<head>
<title>Vinculum - Movie Information</title>
</head>
<body style="background: url(https://mcdn.wallpapersafari.com/medium/46/89/wOxkRG.jpg); background-size: cover;">

 <a href="/home">Home</a>

 <TABLE BORDER="5"    WIDTH="100%"   CELLPADDING="3" CELLSPACING="0" style="font-family: Tahoma; font-size: 16px; background: white;">

  <h1><center>Vinculum Movie Search</center></h1>

    <TR>
        <TH COLSPAN="5"><BR><H3>Movie Information</H3>
        </TH>
    </TR>
    <TR>
      <TH>Movie Name</TH>
      <TH>Rating</TH>
      <TH>Actors</TH>
      <TH>Awards</TH>
      <TH>Year</TH>
    </TR>
    <TR ALIGN="CENTER">
        TD #{movie}
        TD #{rating}
        TD #{actors}
        TD #{awards}
        TD #{random}
    </TR>
</TABLE>
</body>
</html>
