<!DOCTYPE html>
<head>
<title>Vinculum - Movie Information</title>

<meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

 <a href="/home">Home</a>
 <TABLE BORDER="5"    WIDTH="100%"   CELLPADDING="3" CELLSPACING="0" style="font-family: Tahoma; font-size: 16px">

  <h1><center>Vinculum Movie Search</center></h1>

    <TR>
        <TH COLSPAN="5"><BR><H3>Movie Information</H3>
        </TH>
    </TR>
    <TR>
      <TH>Movie Name</TH>
      <TH>Rating</TH>
      <TH>Actors</TH>
      <TH>Awards</TH>
      <TH>Random</TH>
    </TR>
    <TR ALIGN="CENTER">
        TD #{movie}
        TD #{rating}
        TD #{actors}
        TD #{awards}
        TD #{random}
    </TR>
</TABLE>
</body>
</html>
