<!DOCTYPE html>
<head>
<title>Vinculum - Movie Information</title>
</head>
<body style="background: url(https://wallpapercave.com/wp/wp1896123.jpg); background-size: cover;">
<a href="/home">
<p style="color: white; font-size: 22px; text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;"><b>Home</p>
</a>
<p style=" text-align: center; color: white; font-size: 38px; text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;"><b>Vinculum Movie Search</p>

 <TABLE BORDER="5"    WIDTH="100%"   CELLPADDING="3" CELLSPACING="0" style="font-family: Tahoma; font-size: 16px; background: white;">

    <TR>
        <TH COLSPAN="5"><BR><H3>Movie Information</H3>
        </TH>
    </TR>
    <TR>
      <TH>Movie Name</TH>
      <TH>Rating</TH>
      <TH>Actors</TH>
      <TH>Awards</TH>
      <TH>Year</TH>
    </TR>
    <TR ALIGN="CENTER">
        TD #{movie}
        TD #{rating}
        TD #{actors}
        TD #{awards}
        TD #{random}
    </TR>
</TABLE>

<div>
<a href="/response">
<p style=" text-align: center; color: white; font-size: 28px; text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;"><b>Response</p>
</a>
<p style="position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 28px; color: white;  text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;"><b>&copy; 2021 by Vinculum. All Rights Reserved</p>
</div>
</body>
</html>
